<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="SC.Recaptcha_SiteKey" value="6Ld1MQoTAAAAAPZbyzS8zz1aaUug4at6bna2vJ7B" />
		<add key="SC.Recaptcha_Secret" value="6Ld1MQoTAAAAAHipxhvfZZ9M3fSGA0AA3i2JNsV7" />
		<add key="SC.Recaptcha_UseRemoteIP" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5.1" />
		<httpRuntime targetFramework="4.5.1" />
	</system.web>
</configuration>
